<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Demo Test Suite">
    <listeners>
        <listener class-name="ExtentReports.Listener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="Sauce Demo">
        <classes>
            <class name="Tests.KurtosysTest"></class>
        </classes>
    </test>
</suite>

